<!DOCTYPE html>
<html>
<head>
    <title>Add Vehicle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Add Vehicle</h1>

    <form method="post">
        <label>Owner:</label> 
        <input type="text" name="owner" required><br><br>

        <label>Plate:</label> 
        <input type="text" name="plate" required><br><br>

        <label>Expiry:</label> 
        <input type="date" name="expiry" required><br><br>

        <label>Status:</label>
        <select name="status">
            <option value="Pending">Pending</option>
            <option value="Active">Active</option>
            <option value="Expired">Expired</option>
        </select><br><br>

        <button type="submit">Submit</button>
    </form>
    <br><br>
    <a href="/">Back to Dashboard</a>
</body>
</html>